<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:c="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{missingUploadField}">
    <f:then>
        <f:render section="Alert" arguments="{severity: 'danger', icon: 'times'}" contentAs="content">
            <b>
                <f:translate key="formengine.spreadsheet.input.missing-upload.title"
                             extensionName="spreadsheets"/>
            </b>
            <div>
                <f:translate key="formengine.spreadsheet.input.missing-upload.message"
                             extensionName="spreadsheets"/>
            </div>
        </f:render>
    </f:then>
    <f:else if="{nonValidReferences}">
        <f:render section="Alert" arguments="{severity: 'warning', icon: 'exclamation'}" contentAs="content">
            <b>
                <f:translate key="formengine.spreadsheet.input.non-valid-upload.title"
                             extensionName="spreadsheets"/>
            </b>
            <div>
                <f:translate key="formengine.spreadsheet.input.non-valid-upload.message"
                             extensionName="spreadsheets"/>
            </div>
        </f:render>
    </f:else>
    <f:else>
        <f:render section="DataInput" arguments="{_all}"/>
    </f:else>
</f:if>

<f:section name="Alert">
    <div class="alert alert-{f:if(condition: severity, then: severity, else: 'danger')}">
        <div class="media">
            <div class="media-left">
				<span class="fa-stack fa-lg callout-icon">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-{f:if(condition: icon, then: icon, else: 'times')} fa-stack-1x"></i>
				</span>
            </div>
            <div class="media-body">
                <f:format.raw>{content}</f:format.raw>
            </div>
        </div>
    </div>
</f:section>

<f:section name="DataInput">
    <div class="form-control-wrap spreadsheet-input-wrap" data-spreadsheet="{sheetData -> f:format.json()}">
        <div class="input-group" style="{f:if(condition: inputSize, then: 'width:{inputSize}%')}">
			<span class="input-group-addon">
				<c:icon identifier="mimetypes-open-document-spreadsheet"/>
			</span>

            <f:form.hidden name="currentDatabaseValue" class="spreadsheet-input-original" value="{valueObject.dsn}"/>
            <f:form.hidden name="{inputName}" class="spreadsheet-input-database" value="{valueObject.dsn}"/>

            <span class="input-group-btn">
				<f:form.select name="file" class="form-control form-control-adapt spreadsheet-file-select"
                               value="{valueObject.fileReference.uid}">
					<f:for each="{sheetFiles}" key="key" as="item">
						<f:form.select.option value="{key}">{item.nameWithoutExtension}</f:form.select.option>
					</f:for>
				</f:form.select>
			</span>

            <f:form.textfield name="formattedValue" class="form-control spreadsheet-input-formatted" type="text"
                              value="" readonly="readonly"/>

            <span class="input-group-btn">
                <f:if condition="{config.sheetsOnly}">
                    <f:else>
                        <f:render section="DirectionButton" arguments="{_all}"/>
                    </f:else>
                </f:if>

				<button class="btn btn-default spreadsheet-reset-button" type="button"
                        title="{f:translate(key: 'formengine.spreadsheet.button.reset.title', extensionName: 'spreadsheets')}">
					<c:icon identifier="actions-edit-undo"/>
				</button>
			</span>
        </div>

        <br/>
        <ul class="nav {f:if(condition: config.sheetsOnly, then: 'nav-pills', else: 'nav-tabs')} spreadsheet-sheets"
            style="display:none;"></ul>
        <f:if condition="{config.sheetsOnly}">
            <f:else>
                <div class="spreadsheet-table" draggable="false"></div>
            </f:else>
        </f:if>
    </div>
</f:section>

<f:section name="DirectionButton">
    <f:if condition="{config.allowColumnExtraction}">
        <button type="button" class="btn btn-default spreadsheet-input-direction"
                value="{valueObject.directionOfSelection}">
            <span class="direction-column"
                  style="{f:if(condition: '{valueObject.directionOfSelection} != \'vertical\'', then: 'display:none')}">
                <c:icon identifier="actions-arrow-down"/>
                <f:translate key="formengine.spreadsheet.label.direction.column-based"
                             extensionName="spreadsheets"/>
            </span>
            <span class="direction-row"
                  style="{f:if(condition: '{valueObject.directionOfSelection} == \'vertical\'', then: 'display:none')}">
                <c:icon identifier="actions-arrow-right"/>
                <f:translate key="formengine.spreadsheet.label.direction.row-based"
                             extensionName="spreadsheets"/>
            </span>
        </button>
    </f:if>
</f:section>

</html>
