<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Main">
	<f:if condition="{cell.rowspan} > 1 && {cell.colspan} > 1">
		<f:then>
			<td class="{cell.class}" rowspan="{cell.rowspan}" colspan="{cell.colspan}">
				<f:render partial="Cell/Content" section="Main" arguments="{cell: cell}"/>
			</td>
		</f:then>
		<f:else if="{cell.rowspan} > 1">
			<td class="{cell.class}" rowspan="{cell.rowspan}">
				<f:render partial="Cell/Content" section="Main" arguments="{cell: cell}"/>
			</td>
		</f:else>
		<f:else if="{cell.colspan} > 1">
			<td class="{cell.class}" colspan="{cell.colspan}">
				<f:render partial="Cell/Content" section="Main" arguments="{cell: cell}"/>
			</td>
		</f:else>
		<f:else>
			<td class="{cell.class}">
				<f:render partial="Cell/Content" section="Main" arguments="{cell: cell}"/>
			</td>
		</f:else>
	</f:if>
</f:section>

</html>
