<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:s="http://typo3.org/ns/Hoogi91/Spreadsheets/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:section name="Main">
    <f:for each="{rowsData}" as="rowData">
        <tr>
            <f:for each="{rowData}" as="value" iteration="columnIterator">
                <s:cell.render cell="{value}"
                               scope="{headerScope}"
                               isHeader="({columnIterator.isFirst} && {firstColumnIsHeader}) || {forceHeader}">
                    <s:cell.value.formatted cell="{value}"/>
                </s:cell.render>
            </f:for>
        </tr>
    </f:for>
</f:section>

</html>
