name: "Psalm Security Scan"

on:
  pull_request:
  push:

jobs:
  psalm:
    name: "Psalm"

    runs-on: ubuntu-latest

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v3"

      - name: "Psalm Security Scan"
        uses: docker://ghcr.io/psalm/psalm-security-scan

      - name: "Upload Security Analysis results to GitHub"
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
